@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <head>
        <title>Honda Moters</title>
        <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css">

    </head>
    <body>
        <div class="bar">
            <nav class="baar">
            <ul class="li">
                <list><a href="&#34">Home</a></list>
                <list><a href="&#34">Model Line</a></list>
                <list><a href="&#34">Appointment</a></list>
                <list><a href="&#34">Delivery Status</a></list>
                <list><a href="&#34">About Us</a></list>
            </ul>
            </nav>
        </div>
            <div class="div1">
            <nav class="nav2">
            
                <img class="img1" src="/img/logo1.jpg" alt="Honda">
            </nav>
            </div>
            <div class="div2">
            <div class="slider">
                <img  src="/img/new1.png">
                <img  src="/img/new2.png">
                <img  src="/img/new3.jpg">
                <img src="/img/new4.png">
                <img src="/img/new5.jpg">

            </div>
            </div><br>
            <br>
            <div class="welcome">
                <h2 style="color: Red; text-align: center;font-size: xx-large;">Welcome To Honda Township</h2>
                <p style="text-align: justify;font-size: larger;">We,Honda Townships,cordially welcome you all and assure you that this visit to our site
                    will leads toward developing and maturing long lasting relationship and bonding between you
                    and us and this relationship will lasts for generations to come.We are the first 35 Authorized
                    Dealership having its Integrated Management System IMS certified in ISO 9001:2008,14001:2004 & OHAS
                    18001:2007 certification with focus and effort in providing 100% quality service with customers satisfication.
                </p>
                <video src="/img/add.mp4" contols autoplay class="add" muted type="mp4" loop> This broxer does not support html5 videos</video>
    
            </div>
            <br>
            <br><br><br><br><br><br>
            <br><br><br><br><br><br>
            <div class="modelline" style="text-align: center;">
          <h1>Models Of Honda</h1>
            </div>
            <div class="carImages1">
            <img src="/img/city.jpg" style="float:Center; height: 200px;">
            <p style="text-align: center; font-size: large; margin-top: -1.5pc;"><strong> Honda City</strong></p>
            <br>
            <br>
            <img src="/img/aspire.jpg" style="float:Center; height: 200px;">
            <p style="text-align: center; font-size: large; margin-top: -1.5pc;"><strong>City Aspire</strong></p>
            <br>
            <br>
            <img src="/img/hrv.jpg" style="float:Center; height: 200px;">
            <p style="text-align: center; font-size: large; margin-top: -1.5pc;"><strong>HR-V</strong></p>
            <br>
            <br>
            </div>
            <div class="carImages2">
            <img src="/img/brv.jpg" style="float:Center; height: 200px;">
            <p style="text-align: center; font-size: large; margin-top: -1.5pc;"><strong> BR-v</strong></p>
            <br>
            <br>
            <img src="/img/crv.jpg" style="float:Center; height: 200px;">
            <p style="text-align: center; font-size: large; margin-top: -1.5pc;"><strong> CR-v</strong></p>
            <br>
            <br>
            <img src="/img/civic.jpg" style="float:Center; height: 200px;">
            <p style="text-align: center; font-size: large; margin-top: -1.5pc;"><strong> Honda Civic</strong></p>
            <br>
            <br>
            </div>
            <div class="best">
                <h1>
                <strong>We Are The Best</strong></h1>
                <p>we are providing best services to all customers</p>
                <div class="about">
                <div class="iconText">
                <img src="/img/secured.png">
               <h3> Highly Secured</h3>
               <p>We are Focused on the safety of our all road users.Thats why we have Developed safety technology
                   that not only helps protect occupants but take into consideration pedestrians
               </p>
                </div>
                <div class="iconText">
                    <img src="/img/trusted.png">
                   <h3>Trusted Agent</h3>
                   <p>Trusted dealer is the safest place to buy a Honda.Most of our cars are sold through our agents.
                       We recomended Honda Township as our best Trustrd Dealership.
                   </p>
                </div>
                <div class="iconText">
                    <img src="/img/offer.png">
                    <h3 >Get an Offer</h3>
                    <p>Find everything you need to keep your Honda in tip-condition.Visit our Honda service 
                        center for latest offer</p>
                </div>
                <div class="iconText">
                    <img src="/img/customer.png">
                    <h3>Customer Support</h3>
                    <p>Our Support team is reasy to help our customer in sales,service and spareparts department</p>
                </div>
                </div>
                
        
            </div>
            <br>
            <br>
            <div class="last">
                <h1>About</h1>
                <p>Honda Motors Pvt.LTD is one of the Authorized 3"S" Dealership of Honda Cras operating
                Lahore Pakistan.3"S" Stand for Sales,Services and Spare Parts.Honda Motor is one of the initial six dealerships of Honda Altas cars LtD</p>
                 <br>
                 <h1>Models</h1>
                 <div class="listdiv" style="text-align: center;">
                 <ul style="color: white;" class="list">
                <li>Accord</li>
                <li>City</li>
                <li>City Aspire</li>
                <li>Civic</li>
                <li>Civic Turbo</li>
                <li>BR-V</li>
                <li>CR-V</li>
                 <li>HR-V</li>
         </ul>
          </div>
          <br>
          <br>
                 <div class="schedule">
                 <h1>Sales & service Department</h1>
                 
             <p>Mon To thurs:9:00am-5:30pm</p>
             <p>Break Time 1:00pm-1:30pm</p>
             <br>
             <p>Friday 9;00am-6:00pm</p>
             <p>Break Time 12:45pm-1:45pm</p>
             <br>
             <p>Saturday 9:00am-5:30pm</p>
             <p>Break Time 1:00pm-1:30pm</p>
             <br>
             <p>Sunday Closed</p>
      </div>
            
          </div>
          <div class="footer">
              <p> 2022 Honda Moter PVT Ltd.all rights Reserved.Develped By Webmaster</p>
          </div>
                  <div class="last logo" style="text-align: center; background-color: white;">
              <img src="/img/LT LOGO.jpg" style="height: auto;" width="100px;">
          </div>
    </body>         
          




